<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greezon - Recover Password</title>
    <link rel="stylesheet" href="{% static 'user/styleE.css'%}">
    <style>
        input{
            border-radius: 4px;
        }

        .notice{
            display: initial;
        }

        @media screen and (min-width: 600px){
            .notice{
                margin-top: 5rem;
                margin-bottom: 2rem;
                width: 85%;
                display: block;
                float: left;
                clear: both;
            }
        }

    </style>
    
</head>
<body>
    <div class="loginCont">
        <div class="sideA">
            
            <img src="{% static 'user/img/forgotPassword.jpg'%}" alt="freepick.com image">
        </div>
        <div class="sideB">
            <p class="notice"><b style="color: red;">Notice:</b>
                <br>
                A link to recover your password will be sent to the email
                 you used to register with us. Login to your email and 
                click on the link to reset your password.</p>
            <h1>Recover Account!</h1>
            <p style="color: rgba(100, 100, 111, 0.8);"></p>
            <form  method="post" id="passwordForm">
                {% csrf_token %}
                {{password_reset_form}}
                <br>
                <div class="loginBtnCont">
                    <button id="passwordBtn" type="submit" style=" padding: 6px 20px; background: rgb(235, 85, 85);">Send</button>
                </div>
            </form>
        </div>

    </div>
   
</body>
</html>