<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greezon - Login to Your Account</title>
    <link rel="stylesheet" href="{% static 'user/styleE.css'%}">
    <script src="{% static 'user/jquery-3.6.3.js'%}"></script>
</head>
<body>
    <div class="loginCont">
        <div class="sideA">
            <h1>Login</h1>
            <img src="{% static 'user/img/download.png'%}" alt="freepick.com image">
        </div>
        <div class="sideB">
            <p class="signUpHere">Don't have an account? <a href="{% url 'vreg'%}">Sign Up</a></p>
            <h1>Welcome Back!</h1>
            <p>Login to your account</p>
            <form  method="post">
                {% csrf_token %}
                {{form.username}}
                <br>
                {{form.password}}
                <br>
                <div class="loginBtnCont">
                    <button type="submit">Login</button>
                    <a href="{% url 'forgotpassword'%}">Forget Password?</a>
                </div>
            </form>
        </div>

    </div>
</body>
</html>