<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greezon - Recover Password</title>
    <link rel="stylesheet" href="{% static 'user/styleE.css'%}">
    <style>
        input{
            border-radius: 4px;
        }

        .notice{
            display: initial;
            padding-left: 3px;
            color: rgba(100, 100, 111, 0.8);

        }

       
    </style>
    
</head>
<body>
    <div class="loginCont">
        <div class="sideA">
            
            <img src="{% static 'user/img/download-2.png'%}" alt="freepick.com image">
        </div>
        <div class="sideB">
            <h1>Reset Password!</h1>
            <p class="notice">
               Welcome back. We verified it's really you.
            </p>
            <p style="color: rgba(100, 100, 111, 0.8);"></p>
            <form action="/forgetPassword" method="post" id="passwordForm">
                <input type="password" name="user" placeholder="Type in your new password" style="width: 70%;">
                <br>
                <div class="loginBtnCont">
                    <button id="passwordBtn" type="submit" style=" padding: 6px 20px; background: rgb(235, 85, 85);">Send</button>
                </div>
            </form>
        </div>

    </div>
   
</body>
</html>